.map {
  width: 100%;
  height: 1200px;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.owner-icon {
  border: 3px solid;
  border-image: linear-gradient(45deg, #b59700, #ffdf00, #b59700);
  border-image-slice: 1;
}
