.scheduleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.time {
  font-weight: bold;
  color: #4285F4;
}

.activity {
  margin-left: 20px;
}

.scheduleItem {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  min-height: 80px;
  flex-flow: column;
  justify-content: start;
  align-items: flex-start;
  row-gap: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.scheduleItem:last-child {
  border-bottom: none;
}

.verifyButtons {
  display: flex;
  column-gap: 10px;
}
.image {
  max-width: 50px;
}
.container {
  display: flex;
  align-items: center;
}